nav
{
	background-color: rgb(36, 209, 203);
}
#identity .navbar-brand
{
	color:rgb(62, 210, 240);
	font-family: 'Lobster', cursive;
}
.dd{
	font-family: 'Prociono', serif;
}
.mm{
	color:rgb(232, 78, 70);
}
.i{
	height:190.56px;
}